.navbar ul li a
{
    text-decoration: none;
}



.navbar
{
 background-color:black;
 
}
.navbar ul{
 display: flex;
 flex-direction: row;
 justify-content: right;
 

 
}
.navbar ul li{
 margin: 10px;
 
 padding-left: 100px;
 
}
.navbar ul li a
{
 text-decoration: none;
 color:white;
 justify-content: right;
}
